@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.05rem;
}

nav {
    padding: 0 15px;
}

nav .logo {
    width: 30px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 800;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    #contatos {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #form-email {
        width: 35vw;
        min-width: 250px;
    }

    #contatos {
        width: 30vw;
    }
}

footer {
    padding: 10px 0;
}
.footer-bg, .nav-bg {
    background-color: #eeebf0;
}

footer a,
footer a:hover{
    text-decoration: none;
    color: black
}

.form-group {
    padding-bottom: 10px;
}

#contatos {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

#contatos #whats,
#contatos #email,
#contatos #github {
    display: flex;
}

#whats .logo {
    /* equivalent fill: #4ac959;*/
    filter: invert(57%) sepia(86%) saturate(342%) hue-rotate(76deg) brightness(98%) contrast(92%);
}

#contatos .logo {
    width: 1.15em;
}

#contatos p {
    padding-left: 0.5em;
    padding-top: 0.87em;
}